img {
    width: 500px;
    border-radius: 15%;
}

body {
    background-color: dimgray;
}

button {
    color: blue;
    background-color:tomato;
}

.text-loc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
