button {
    color:blue;
    background-color: yellowgreen;
}

body {
    background-color: crimson;
}

#title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

#cred {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

#title-img {
    border-radius: 8.9%;
    width:700px;
    height:465px
}